.sent {
  background: linear-gradient(135deg, #fdc830, #f37335); /* Vibrant gradient */
  color: white;
}

.received {
  background: #f1f1f1; /* Neutral gray */
  color: black;
}

.sent:hover,
.received:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.chat-bubble img {
  max-width: 100%;
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.8);
}


@plugin "daisyui/theme" {
  name: "frost";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(55% 0.046 257.417);
  --color-base-200: oklch(70% 0.04 256.788);
  --color-base-300: oklch(37% 0.044 257.287);
  --color-base-content: oklch(97% 0.071 103.193);
  --color-primary: oklch(98% 0.022 95.277);
  --color-primary-content: oklch(0% 0 0);
  --color-secondary: oklch(60% 0.126 221.723);
  --color-secondary-content: oklch(97% 0.071 103.193);
  --color-accent: oklch(96% 0.059 95.617);
  --color-accent-content: oklch(27% 0.077 45.635);
  --color-neutral: oklch(21% 0.006 56.043);
  --color-neutral-content: oklch(96% 0.015 12.422);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(97% 0.071 103.193);
  --color-warning-content: oklch(26% 0 0);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 0.5rem;
  --radius-field: 1rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: "nord";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(95.127% 0.007 260.731);
  --color-base-200: oklch(93.299% 0.01 261.788);
  --color-base-300: oklch(89.925% 0.016 262.749);
  --color-base-content: oklch(32.437% 0.022 264.182);
  --color-primary: oklch(59.435% 0.077 254.027);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(69.651% 0.059 248.687);
  --color-secondary-content: oklch(13.93% 0.011 248.687);
  --color-accent: oklch(77.464% 0.062 217.469);
  --color-accent-content: oklch(15.492% 0.012 217.469);
  --color-neutral: oklch(45.229% 0.035 264.131);
  --color-neutral-content: oklch(89.925% 0.016 262.749);
  --color-info: oklch(69.207% 0.062 332.664);
  --color-info-content: oklch(13.841% 0.012 332.664);
  --color-success: oklch(76.827% 0.074 131.063);
  --color-success-content: oklch(15.365% 0.014 131.063);
  --color-warning: oklch(85.486% 0.089 84.093);
  --color-warning-content: oklch(17.097% 0.017 84.093);
  --color-error: oklch(60.61% 0.12 15.341);
  --color-error-content: oklch(12.122% 0.024 15.341);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
